[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone=+08:00
skip-name-resolve=ON
max_connections=50
innodb_buffer_pool_size=256M
innodb_redo_log_capacity=64M
performance_schema=OFF
table_open_cache=400
thread_cache_size=8

[client]
default-character-set=utf8mb4
