/mvnw text eol=lf
/.dockerignore text eol=lf
/Dockerfile text eol=lf
/deploy/docker-compose.ci.yml text eol=lf
/.github/workflows/*.yml text eol=lf
*.cmd text eol=crlf
/scripts/**/*.sh text eol=lf
/src/main/resources/db/migration/*.sql text eol=lf
/src/test/resources/db/legacy/*.sql text eol=lf
/src/test/resources/flyway/*.sha256 text eol=lf
/docs/stage0/flyway/*.sha256 text eol=lf
